<%- include('partials/header'); -%>

<div class="container">
    <header class="jumbotron" style="margin-top: 20px;">
        <div class="container">
            <h1 class="display-4">Welcome to OWSM Marketplace!</h1>
            <p class="lead">OWSM Marketplace is a platform for buying and selling services and goods
            </p>
            <hr class="my-4">
            <p class="lead">
                <a class="btn btn-danger btn-lg" href="/campgrounds/new" role="button">Have Something To Sell ?</a>
            </p>
        </div>
    </header>

    <div class="row" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <p class="card-text"><%= campground.description.substring(0,40)%>...</p>
                    <a href="/campgrounds/<%= campground._id%>" class="btn btn-primary">Veiw Details</a>
                </div>
            </div>
        </div>
        <% });%>
    </div>
</div>
<%- include('partials/footer'); -%>